.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  border: 1px solid gray;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app_navbar {
  width: 100%;
  padding: 20px 30px;
  box-shadow: 0 1px 20px rgba(56, 40, 40, 0.05);
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.app_outer {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  padding: 20px;
}

.app_boards {
  min-width: fit-content;
  display: flex;
  gap: 10px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #ffffff; /* white background */
  color: black;
  padding: 6px 12px; /* Adjust the padding to match your design */
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #d1d1d1; /* Light grey border */
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex; /* Use flexbox for aligning text and icon */
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  font-family: Arial, sans-serif; /* Your preferred font */
}

/* Dropdown Content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px; /* Adjust as needed */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Match the shadow of the button */
  z-index: 2;
  top: 100%; /* Position right below the dropdown button */
  left: 0;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
}

/* Show the dropdown menu on click */
.dropdown:hover .dropdown-content,
.dropdown .dropdown-content.show {
  /* Add 'show' class when you want to display the dropdown */
  display: block;
}

/* Dropdown section */
.dropdown-section {
  display: flex; /* Use flexbox for alignment */
  justify-content: start; /* Space between label and select */
  align-items: center; /* Align items vertically */
  padding: 10px;
  border-bottom: 1px solid #efefef; /* Light grey border for separating sections */
}

/* Last section doesn't need a border */
.dropdown-section:last-child {
  border-bottom: none;
}

/* Dropdown item styling */
.dropdown-section span {
  margin-right: 50px; /* Remove margin if any */
  white-space: nowrap; /* Prevents the label from wrapping */
}

/* Dropdown select styling */
.dropdown select {
  padding: 6px 30px; /* Slightly reduced horizontal padding */
  margin-left: 10px; /* Space between label and select */
  border: 1px solid #ccc;
  border-radius: 4px;
  width: auto; /* Only take up as much width as needed */
  flex-grow: 1; /* Allow select to grow to fill space */
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #f8f8f8;
}

/* Add this class to the dropdown-content when you want to show it */
.show {
  display: block;
}

.select-container {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}

.select-arrow {
  position: absolute;
  right: 5px; /* Adjust as needed */
  pointer-events: none;
}
